* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #141414;
  color: #ffffff;
}
a {
  color: #ffffff;
  text-decoration: none;
}
ul {
  list-style: none;
}
.primary-btn {
  display: block;
  background: #e50914;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.watch-btn {
  display: inline-block;
  padding: 0.8rem 1rem;
}
.container {
  max-width: 70%;
  margin: auto;
}
/* Header */
.main-header {
  display: flex;
  flex-direction: column;
  padding: 2.2rem 0;
  height: 90vh;
  background: url("../images/showcase.jpg") center/cover no-repeat;
}
/* style for the gradient above the showcase image */
.main-header::after {
  content: "";
  height: 90vh;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

/* ----------------------------------------------------------Nav bar--------------------------------------------- */

.main-header .main-nav {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.main-nav .logo {
  width: 180px;
}
.main-header .sign-in-btn {
  position: absolute;
  right: 50px;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 1.8rem;
  border-radius: 5px;
  padding: 2px 22px;
  margin-top: 6px;
  z-index: 2;
}

/* ----------------------------------------------------------Header content--------------------------------------------- */

.main-header .header-content {
  align-self: center;
  text-align: center;
  margin-top: 20vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header .header-content h1 {
  font-size: 5.2rem;
  margin-bottom: 1.5rem;
}
.main-header .header-content p {
  text-transform: uppercase;
  font-size: 2rem;
}
.main-header .header-content .watch-btn {
  padding: 1.5rem;
  width: 82%;
  margin: 2rem 0;
  font-size: 2rem;
}

/* ----------------------------------------------------------Tabs------------------------------------------------------- */

/* Tabs headings */
.tabs {
  border-bottom: 3px solid #999999;
}
#tab-1,
#tab-2,
#tab-3 {
  width: 90%;
  padding-bottom: 1rem;
}
.tab-headers > div {
  cursor: pointer;
}
.tab-headers > div:hover {
  color: #ffffff;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 2.5rem 0 0 0;
  color: #999999;
}
.grid-3 p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

/* Tab content */
.tab-content {
  background: #000000;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.tab-1-content img {
  width: 100%;
}
.tab-1-content p {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.tab-1-content .watch-btn {
  width: 50%;
}
.tab-2-content .grid-2 {
  grid-template-columns: 4fr 2fr;
  grid-gap: 1rem;
  padding: 3rem 2.2rem;
}
.tab-2-content p {
  font-size: 1.8rem;
}
.tab-2-content .watch-btn {
  width: 95%;
  align-self: flex-start;
}
.tab-2-content .grid-3 {
  padding: 2rem 2.5rem;
  align-items: flex-start;
}
.tab-2-content .grid-3 img {
  width: 100%;
  margin-bottom: 0.5rem;
}
.tab-2-content .grid-3 p,
.tab-2-content .grid-3 h3 {
  font-weight: normal;
  color: #ffffff;
  margin: 10px 0px 25px 0px;
}
.tab-2-content .grid-3 p {
  font-size: 1rem;
  color: #999999;
}
.tab-3-content > div {
  padding: 2rem 2.2rem;
  display: flex;
  flex-direction: column;
}
.tab-3-content h3 {
  text-align: center;
  font-weight: normal;
  font-size: 1.8rem;
  margin: 1rem 0;
}
.tab-3-content .watch-btn {
  align-self: center;
}
.tab-3-content .pricing-table {
  margin: 2rem 0;
  padding: 3rem 2rem;
  text-align: center;
  color: #999999;
  border-collapse: collapse;
  font-size: 1rem;
}
.tab-3-content .pricing-table th {
  color: #ffffff;
}
.tab-3-content .pricing-table th,
.tab-3-content .pricing-table td {
  padding: 0.8rem 1rem;
}
.tab-3-content .pricing-table tr:nth-child(even) {
  background: #222222;
}
/* First child of every row of the table has to be aligned to the start */
.tab-3-content .pricing-table tr > td:nth-child(1) {
  text-align: start;
}
.tab-3-content .pricing-table tr {
  margin: 2rem 0px;
}
.tab-3-content .pricing-table th {
  text-transform: uppercase;
  font-size: 1rem;
}
/* Tabs functionality */
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}
.active {
  display: block !important;
}
.inactive {
  display: none;
}
.border-active {
  border-bottom: 4px solid #e50914;
}

/* ----------------------------------------------------Footer-------------------------------------------------------- */

footer {
  background: #000000;
  color: #999999;
  font-size: 14px;
}
footer p {
  padding: 1rem 0rem;
}
footer .grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
footer .grid-4 ul li {
  margin: 0.8rem 0;
}

/* -----------------------------------------------Media Queries -------------------------------------------------------- */
@media (max-width: 900px) {
  .main-header,
  .main-header::after {
    height: 70vh;
  }
  .main-header .main-nav {
    padding-left: 2rem;
    justify-content: start;
  }
  .main-nav .logo {
    width: 100px;
  }
  .main-header .header-content h1 {
    font-size: 2.5rem;
  }
  .main-header .header-content p,
  .main-header .header-content .watch-btn {
    width: 100%;
    font-size: 1rem;
  }
  .main-header .header-content .watch-btn {
    padding: 1rem;
    width: 90%;
  }
  .tab-headers > div i {
    padding-bottom: 1rem;
  }
  .tab-headers > div p {
    display: none;
  }
  .grid-2,
  .tab-2-content .grid-2,
  .tab-2-content .grid-3 {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .tab-1-content p,
  .tab-2-content p,
  .tab-3-content h3 {
    font-size: 1.3rem;
  }
  .tab-1-content .watch-btn,
  .tab-2-content .watch-btn {
    width: 70%;
    justify-self: center;
  }
  .tab-2-content .grid-3 {
    padding: 1rem;
    align-items: center;
  }
  .tab-3-content > div {
    padding: 2rem 0rem;
    align-items: center;
  }
  .tab-3-content .pricing-table th,
  .tab-3-content .pricing-table td {
    padding: 0.8rem 0.5rem;
  }
  footer .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .tab-1-content .watch-btn,
  .tab-2-content .watch-btn {
    width: 100%;
  }
}
